node_modules/
.next/
out/
data/
release/
dev-log.txt
build-desktop-log.txt
npm-install-log.txt
parche-entrenoapp/
*.zip
*.log
android/app/build/
android/.gradle/
android/local.properties
ios/App/build/
ios/App/Pods/

